.history-container {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.history-buttons {
  align-self: center;
}

.error-message {
  font-size: 1.5rem;
  color: #b30000;
  text-align: center;
}
