<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">

<div>
  <div class="header-container">
    <h1 class="header-text">Chesspectations</h1>
  </div>

  @if (!displayError && !isLoading) {
    <div class="leaderboard-container">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="ranking">
          <th mat-header-cell *matHeaderCellDef class="cell"> Rank</th>
          <td mat-cell *matCellDef="let leaderboard" class="cell cell-data"> {{ leaderboard.ranking }}</td>
        </ng-container>
        <ng-container matColumnDef="playerName">
          <th mat-header-cell *matHeaderCellDef class="cell"> Name</th>
          <td mat-cell *matCellDef="let leaderboard" class="cell cell-data"> {{ leaderboard.playerName }}</td>
        </ng-container>
        <ng-container matColumnDef="gamesPlayed">
          <th mat-header-cell *matHeaderCellDef class="cell"> Games Played</th>
          <td mat-cell *matCellDef="let leaderboard" class="cell cell-data"> {{ leaderboard.gamesPlayed }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="cell"></th>
          <td mat-cell *matCellDef="let leaderboard" class="cell cell-data">
            <button mat-icon-button (click)="viewPlayer(leaderboard)">
              <mat-icon>search</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-headers"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
      </table>
      <br>
      <div>
        <button type="button" class="btn btn-dark button-spacing" (click)="addNewPlayer()">Add New Player</button>
        <button type="button" class="btn btn-dark button-spacing" (click)="addMatch()">Add Match</button>
      </div>
    </div>

  } @else {
    <div class="leaderboard-container">
      <h2 class="error-message">{{ errorMessage }}</h2>
    </div>
  }


<!--popup add new player (modal)-->
<!--popup view player (modal)-->
<!--popup add match (modal)-->

</div>
