<h2 mat-dialog-title>New Chess Match</h2>

<form [formGroup]="chessMatchForm" (ngSubmit)="saveMatch()">
  <mat-form-field appearance="fill">
    <mat-label>Ebony Player</mat-label>
    <mat-select formControlName="ebonyPlayerId" (selectionChange)="onEbonyPlayerChange($event)">
      <mat-option *ngFor="let player of players" [value]="player.playerId">
        {{ player.playerName }} (Rank {{ player.ranking }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ivory Player</mat-label>
    <mat-select formControlName="ivoryPlayerId" (selectionChange)="onIvoryPlayerChange($event)">
      <mat-option *ngFor="let player of players" [value]="player.playerId">
        {{ player.playerName }} (Rank {{ player.ranking }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Winner</mat-label>
    <mat-select formControlName="winner">
      <mat-option value="EBONY">EBONY</mat-option>
      <mat-option value="IVORY">IVORY</mat-option>
      <mat-option value="DRAW">DRAW</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date of Match</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="datePlayed" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div style="margin-left: 1.5rem">
    <button type="submit"
            class="btn btn-dark modal-button"
            [disabled]="isSaveButtonDisabled()">
      Save Match
    </button>
    <button type="button" class="btn btn-dark modal-button" (click)="closeModal()">Close</button>
  </div>
</form>
